#categories{
    width: 100%;
    margin: 0px;
}

.product-badge {
    padding: .1em .1em;
    top: 295px!important;
    right: 15px!important;
    height: 1rem;
    width: 1rem;
}

@media (min-width: 576px) and (orientation: portrait), (min-width: 576px) and  (orientation: landscape){
    .class-card { flex-direction: row!important; }

    .class-card img {
        margin-left: 15px;
        width: 150px!important;
    }

    .class-card > div:first-of-type {
        width: 450px!important;
    }

    .product-badge {
        top: 37px!important;
        right: 30px!important;
    }
}

@media (min-width: 1024px){
    .class-card { flex-direction: row!important; }

    #product-window{
        flex-direction: row!important;
        flex-wrap: wrap!important;
    }

    #categories {
        width: 250px!important;
        margin-left: 10px;
        margin-right: 20px;
    }
    

    .products{
        height: 250px;
        width: 450px;
        margin-right: 30px;
    }

    .product{
        padding-bottom: 15px;
    }

    .class-card img {
        margin-left: 15px;
        width: 100px!important;
    }

    .class-card > div:first-of-type {
        width: 350px!important;
    }

    .product-badge {
        top: 10px!important;
        right: 30px!important;
    }
}

@media only screen and (max-width: 1023px){
    .product{margin-top: 10px;}
}
