#categories{
    width: 100%;
    margin: 0px;
    min-width: 360px;
}

.product-badge {
    padding: .1em .1em;
    bottom: 180px!important;
    right: 25px!important;
    height: 1rem;
    width: 1rem;
}

.rating-badge{
    left: 0px;
}

.cart-badge{
    right: 10px;
}

.sale-badge {
    padding: .1em .1em;
    top: 0px!important;
    left: 0px!important;
    height: 1.1rem;
    width: 3rem;
    font-weight: 700;
}

@media (min-width: 576px) and (orientation: portrait), (min-width: 576px) and  (orientation: landscape){
    .class-card { flex-direction: row!important; }

    .class-card img {
        margin-left: 15px;
        width: 150px!important;
    }

    .class-card > div:first-of-type {
        width: 450px!important;
    }

    .product-badge {
        top: 37px!important;
        right: 30px!important;
    }

    .rating-badge{
        left: 10px;
    }

}

@media (min-width: 1024px){
    .class-card { flex-direction: row!important; }

    .class-card-wrap {flex-direction: row!important; flex-wrap: wrap!important;}

    #product-window{
        flex-direction: row!important;
    }

    #categories {
        width: 360px!important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .large-cart {display: none!important}

    .products{
        height: 225px;
        width: 500px;
        margin-right: 10px;
        margin-bottom: 7px;
    }

    .product{
        height: 220px;
        width: 500px; 
 
    }

    .card-heading{
        padding-top: 10px;
    }

    .class-card img {
        margin-left: 15px;
        width: 100px!important;
    }

    .product-badge {
        top: 10px!important;
        right: 30px!important;
    }


}

@media only screen and (max-width: 1023px){
    .product{margin-top: 10px; padding-top: 10px; padding-bottom: 10px;}
    
}
